body {
  margin: 0;
  padding: 16px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

section {
  padding: 16px;
  min-width: 80%;
  background: whitesmoke;
}

.task-content {
  display: flex;
  gap: 16px;
}

.form-container {
  min-width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form label {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input.invalid {
  border-color: red;
}

form button {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
  cursor: pointer;
}

form button:hover {
  background-color: #ddd;
}

.table-container,
.table-container label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.table-container label input {
  width: 100%;
}

.task-table {
  width: 360px;
  height: 360px;
  border-collapse: collapse;
}

.task-table th,
.task-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}
